.train-div{
    width: 100%;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.configure-train-panel{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.configure-train-btn{
    margin-top: 5px;
}


.configure-train-controls{
    width:auto;

    display: flex;
    justify-content: center;
    gap: 10px;
    /*padding: 10px;*/
}

.configure-train-container{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 40%;
}

.apply-btn{
    margin: 20px auto 0;
    width: 50%;
}

.train-nn-dataset{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
    align-items: center;

}

#graph-and-activations{
    width: 60%;
    height: 500px;
}

.nn-graph-div{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

}

#configure-dataset-plot-train-div{
    width: 40%;
    height: 500px;
    padding: 5px 0 0 0;
    margin-bottom: -150px;
}

.row{
    align-items: flex-end;
}

.col{
    text-align: center;
}

.history-plots{
    margin-top: 20px;
    width: 80%;
    display: flex;
    gap: 20px;
}

.plot{
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.white-bg{
    background-color: white;
}

.scale-085{
    /*transform: scale(0.65);*/
}

.plot-container{
    height: 30%;
    flex-direction: row;
    justify-content: center;
}