<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.css" type="text/css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis-network.min.js"> </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script src="../static/scripts/indexScript.js"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
        <script src="../static/scripts/indexScript.js"></script>
        <script src="../static/scripts/guideScript.js"></script>
        <script src="../static/scripts/notify.js"></script>
        <link rel="stylesheet" href="../static/stylesheets/guideStyle.css">
        <link rel="stylesheet" href="../static/stylesheets/progress.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheets/generalStyle.css">
        <title>NNViz</title>
    </head>
    <body>
        <div id="navbarDiv">
            <nav class="navbar navbar-expand-lg" id="navbar">
                <div class="logo">
                    <img src="../static/images/NNViz%20Logo%202.png" width="200" alt="" id="logo">
                </div>
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/">Home</a>
                        </li>
                                                <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/guide">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/train">Train</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header">
            <h2><b>Step 0:</b> Choose task scenario</h2>
            <div class="progress">
                <div class="circle active">
                    <a href=""><span class="label">0</span></a>
                    <p id="input" class="title">Task</p>
                </div>
                <span class="bar active"></span>
                <div class="circle">
                    <a href=""><span class="label">1</span></a>
                    <p id="architecture" class="title">Architecture</p>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <a href=""><span class="label">2</span></a>
                    <p id="dataset" class="title">Dataset</p>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="why-div" class="introduction">
                <br>
                <h4>Point Clouds</h4>
                <br>
                <ul>
                    <li>
                        <h5>
                            In order to showcase the phenomenon of <b>Geometric Deep Learning</b> in the most visually appealing way, we've chosen 3D representations, in the form of
                            <b>point clouds</b>, as the input data that will be fed into the neural nets.
                        </h5>
                    </li>
                    <li>
                        <h5>
                            In the field of 3D Modelling, point clouds are represented by sets of data points in a 3D coordinate system (i.e. a \(xyz\) ax system).
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Each point represents a single spatial measurement of the object's exterior surface.
                        </h5>
                    </li>
                </ul>


                <br>
                <h4>Classification vs. Segmentation</h4>
                <br>
                <ul>
                    <li>
                        <h5>
                            This app offers the possibility of training neural nets on either a classification or a segmentation task.
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <b>Classification</b> involves assigning semantic labels to whole samples (i.e. recognizing objects as a whole)
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <b>Segmentation</b> involves assigning labels to each point individually, in a process that aims to separate them into smaller groups, representing a particular
                            part, surface of feature of an object.
                        </h5>
                    </li>
                </ul>
                <br>
                <div class="dataset_select">
                    <div class="container">
                        <div class="row" id="row_1">
                            <div class="col" id="classification_select">
                                <a href="/guide/1/class">
                                    <img src="../static/images/modelnet/modelnet_cover.png" alt="" width="100%">
                                </a>
                                <span class="img_caption">Choose classification</span>
                            </div>
                            <div class="col" id="segmentation_select">
                                <a href="/guide/1/seg">
                                    <img src="../static/images/shapenet/shapenet_cover.png" alt="" width="100%">
                                </a>
                                <span class="img_caption">Choose segmentation</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>