<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../static/scripts/indexScript.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheets/generalStyle.css">
        <title>NNViz</title>
    </head>
    <body>
        <div id="navbarDiv">
            <nav class="navbar navbar-expand-lg" id="navbar">
                <div class="logo">
                    <img src="../static/images/NNViz%20Logo%202.png" width="200" alt="" id="logo">
                </div>
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header">
            <h2>A brief introduction to <b>Neural Networks</b></h2>
        </div>
        <div id="content">
            <div id="why-div" class="introduction">

                <br>
                <h4>What are <b>Neural Networks</b>?</h4>
                <br>
                <h5>
                    The field of <b>Neural Networks</b> is a subset of <b>Machine Learning</b>. Neural networks are inspired by the structure and function of the brain and, as a result,
                    they need to train and "learn" from large amounts of data in order to provide good results.
                </h5>

                <br>
                <h4>What is <b>Deep Learning?</b></h4>
                <br>
                <h5>
                    <b>Deep learning</b> is a subset of <b>Machine Learning</b> that uses algorithms inspired by the structure and function of the human brain called <b>Neural Networks</b>.
                    As a result, these networks attempt to simulate the behavior of the human brain by "learning" from large amounts of data. Compared to machine learning algorithms, which
                    work with pre-processed data in which specific features are extracted in order to enable the model to learn, deep learning eliminates some data pre-processing, by automating
                    feature extraction, thus removing some dependency on human experts.
                </h5>
                <br>

                <h5>
                    As a result, almost every technical university around the globe is currently offering
                    <b>Neural Networks</b> classes, either through dedicated courses, or at least included
                    as chapters in <b>Artificial Intelligence</b> or <b>Machine Learning</b> related courses.
                    As a reference, this <a href="https://www.classcentral.com/subject/neural-networks">list</a>
                    contains only the free (but still, a very large number of)  Neural Networks courses and MOOCs
                    from top universities around the world like Stanford, MIT, Michigan, Higher School of Economics and many more.
                </h5>
                <h5>
                    Even though neural networks are very popular, one of their biggest disadvantages is their <b>black box</b> nature.
                    What is a black box? This <a href="https://www.onlinecjc.ca/article/S0828-282X(21)00703-0/fulltext">paper</a> gives
                    a very good definition: <i>"Black Box is shorthand for models that are sufficiently complex that they are not
                    straightforwardly interpretable to humans"</i>. Therefore, neural networks are generally hard to understand for
                    newcomers.
                </h5>
                <h5>
                    As a result, <b>NNViz</b> offers a didactic and informative solution, by enabling an user to design different neural network architectures,
                    either by following a step-by-step guide, or directly, visually interact and train their neural networks depicted as graphs, see how different
                    parameters (such as weights) change during the training process, feed an input instance with a suggestive animation that illustrates the activation
                    of each neuron, as well as the raw output of the network (i.e. the score given by each neuron on the output layer).
                </h5>
            </div>

        </div>
    </body>
</html>