<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../static/scripts/indexScript.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheets/generalStyle.css">
        <title>NNViz</title>
    </head>
    <body>
        <div id="navbarDiv">
            <nav class="navbar navbar-expand-lg" id="navbar">
                <div class="logo">
                    <img src="../static/images/NNViz%20Logo%202.png" width="200" alt="" id="logo">
                </div>
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/guide">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" href="/train">Train</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header">
            <h2>Welcome to <b>Neural Network Visualizer</b>! </h2>
            <h2> <b>-</b> A graphical tool for designing, interacting and training <b>Neural Networks</b> <b>-</b> </h2>
        </div>
        <div id="content">
            <div id="columns-div">
                <div id="step-process">
                    <h4>Get started by following an informative guide for building a neural network.</h4>
                    <h5>Recommended for users with no prior knowledge regarding neural networks.</h5>
                    <button class="btn btn-primary" id="start-guide">Start Guide</button>
                </div>
                <div id="or-div">
                    <br><br><br>
                    <h4>OR</h4>
                </div>
                <div id="predefined">
                    <h4>Go directly to the train page.</h4>
                    <br>
                    <h5>Recommended for users with some degree of knowledge regarding neural networks.</h5>
                    <a href="/train"><button class="btn btn-primary" id="gallery">Train</button></a>
                </div>
            </div>
            <div id="why-div" class="introduction">
                <br>
                <h4>Why NNViz?</h4>
                <br>
                <h5>
                    <b>Deep learning</b>, through <b>artificial neural networks</b>, is considered to be
                    one of the most powerful and high-profile approaches to <b>Artificial Intelligence</b>,
                    as systems based on such systems operate in a variety of fields, such as natural language
                    processing, image processing and labeling, speech recognition, face  recognition, autonomous
                    driving and many more. Therefore, we can safely conclude that these types of networks are
                    part of an ever-growing industry, which will surely continue to fascinate us with endless possibilities.
                </h5>
                <br>
                <figure>
                    <img src="../static/images/Google-Trend-Deep-Learning-Popularity.png" alt="" width="500" class="figure-img">
                    <figcaption>
                        Google Trend showing more attention towards <b>deep learning</b> in the recent years, compared to other machine learning algorithms.<br>
                        Source: <a href="https://ieeexplore.ieee.org/document/8373692">Deep Learning for IoT Big Data and Streaming Analytics: A Survey</a>
                    </figcaption>
                </figure>
                <br>
                <h5>
                    As a result, almost every technical university around the globe is currently offering
                    <b>Neural Networks</b> classes, either through dedicated courses, or at least included
                    as chapters in <b>Artificial Intelligence</b> or <b>Machine Learning</b> related courses.
                    As a reference, this <a href="https://www.classcentral.com/subject/neural-networks">list</a>
                    contains only the free (but still, a very large number of)  Neural Networks courses and MOOCs
                    from top universities around the world like Stanford, MIT, Michigan, Higher School of Economics and many more.
                </h5>
                <h5>
                    Even though neural networks are very popular, one of their biggest disadvantages is their <b>black box</b> nature.
                    What is a black box? This <a href="https://www.onlinecjc.ca/article/S0828-282X(21)00703-0/fulltext">paper</a> gives
                    a very good definition: <i>"Black Box is shorthand for models that are sufficiently complex that they are not
                    straightforwardly interpretable to humans"</i>. Therefore, neural networks are generally hard to understand for
                    newcomers.
                </h5>
                <h5>
                    As a result, <b>NNViz</b> offers a didactic and informative solution, by enabling an user to design different neural network architectures,
                    either by following a step-by-step guide, or directly, visually interact and train their neural networks depicted as graphs, see how different
                    parameters (such as weights) change during the training process, feed an input instance with a suggestive animation that illustrates the activation
                    of each neuron, as well as the raw output of the network (i.e. the score given by each neuron on the output layer).
                </h5>
            </div>

        </div>
    </body>
</html>